---
layout: base
---

{% include header.html type="page" %}

<div class="container-md" role="main">
  <div class="row">

    <!-- 기존 설정: 본문 폭이 좁음 -->
    <!-- <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1"> -->

    <!-- 새 설정: 본문 폭을 조금 넓힘 -->
    <!-- <div class="col-xl-9 mx-auto col-lg-10 offset-lg-1"> --> 
    <!-- <div class="col-xl-9 mx-auto col-lg-10 mx-auto"> --> 
    
    <!-- 새 설정: 본문 폭을 많이 넓힘 -->
    <!-- <div class="col-xl-10 offset-xl-1 col-lg-10 offset-lg-1"> --> 
    <div class="col-xl-10 offset-xl-2 col-lg-10 offset-lg-2"> 

    <!-- 새 설정: 본문 폭을 가장 넓힘 -->
    <!-- <div class="col-xl-12 col-lg-12"> -->
      
      {{ content }}
      {% include comments.html %}
    </div>
  </div>
</div>
